<p>ID: <%= user.id %></p>
<p>Username: <%= user.username %></p>
<p>Display Name: <%= user.displayName %></p>
<p>Time Zone: <%= user.timeZone %></p>
<p>E-mail: <%= user.emails[0].value %></p>
<p>Groups: <%= user.groups %></p>
<p>Avatar: <img src="<%= user.avatarUrls["48x48"] %>"/></p>
